.detailsList {
    width: 100%;
    margin-top: 45px;

    columns: 3;
    gap: 10%;

    li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 100%;
    }
}