@import "../../_scss/variables";
@import "../../_scss/mixins";

.pageNavigation {
    width: 100%;
    height: 20vh;
    z-index: 9000;

    position: fixed;
    top: 0;
    left: 0;

    @include flexDirection(row);
    align-items: center;

    &::after {
        content: '';
        position: absolute;
        background: $color-black;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: polygon(100% 0, 100% 100%, 30% 60%, 0 100%, 0 0);

        @media (max-width: $breakpoint-laptop) {
            height: 20vh;
            clip-path: none;
        }
    }

    .pageNavigation_logo {
        color: $color-white;
        padding: 5px 20px;
        background: $color-brown;

        font-size: 1.8rem;
        font-family: $font-logo, sans-serif;

        position: absolute;
        left: 200px;
        z-index: 9001;

        cursor: pointer;

        @media (max-width: $breakpoint-laptop) {
            font-size: 1.1rem;
            left: 20px;
            z-index: 9999;
        }
    }

    .pageNavigation_nav {
        position: absolute;
        right: 100px;
        z-index: 9002;
        font-family: $font-logo, sans-serif;

        @media (max-width: $breakpoint-laptop) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: black;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            display: none;

            &.active {
                display: flex;
            }
        }

        .pageNavigation_list {
            list-style: none;

            @include flexDirection(row);
            align-items: center;

            @media (max-width: $breakpoint-laptop) {
                @include flexDirection(column);
                width: 100%;
            }

            .pageNavigation_linkItem {
                color: $color-white;
                padding: 0 20px 0 0;

                @media (max-width: $breakpoint-laptop) {
                    margin: 10px 0;
                    padding: unset;
                }

                &:last-child {
                    padding: 0;
                }

                .pageNavigation_linkItem_link {
                    text-decoration: none;
                    color: $color-white;
                    font-size: 1.5rem;

                    @media (max-width: $breakpoint-laptop) {
                        font-size: 2rem;
                    }

                    &:hover {
                        color: $color-brown;
                    }
                }

                .pageNavigation_linkItem_span {
                    @include flexDirection(row);
                    background: lightblue;
                    width: 200px;
                    height: 30px;
                    font-family: $font-else, sans-serif;

                    @media (max-width: $breakpoint-laptop) {
                        width: 300px;
                        height: 50px;
                        font-size: 1.3rem;
                    }

                    input {
                        width: 80%;
                        padding: 0 10px;
                        border: none;
                    }

                    button {
                        width: 20%;
                        border: none;
                        color: $color-white;
                        background: $color-brown;

                        &:hover {
                            transform: scale(1.1);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .pageNavigation_menu {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 40px;
        z-index: 9999;
        color: white;
        display: none;

        @media (max-width: $breakpoint-laptop) {
            display: unset;
        }
    }
}