@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

// Colors
$color-brown: #AF7627;
$color-rosa: #FED9C9;
$color-black: #000000;
$color-white: #fff;
$color-white-alpha: #ffffffaa;
$color-black-alpha: #000000aa;

// Breakpoints
$breakpoint-laptop: 1199px;

// Fonts
$font-logo: 'Odibee Sans';
$font-else: 'Trebuchet MS';

// Border
$border-radius: 10px;
$border-shadow: 2px 2px 5px #00000030;