@import '../../_scss/mixins';
@import '../../_scss/variables';

.employeesList {
    width: 100%;
    list-style: none;
    
    @include flexDirection(row);
    justify-content: center;

    @media (max-width: $breakpoint-laptop) {
        @include flexDirection(column);
        align-items: center;
    }

    li {
        margin-left: 40px;

        @media (max-width: $breakpoint-laptop) {
            margin-left: unset;
            margin-top: 20px;
        }

        &:first-child {
            margin: unset;
        }
    }
}