@import '../_scss/variables';
.camera, .location, .plan, .heart {
    width: 30px;
    height: 30px;
}

.heart {
    &:hover {
        fill: $color-black;
    }

    &.active {
        fill: red
    }
}