@import './_scss//variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  min-height: 80vh;
  width: 100%;
  font-family: $font-else, sans-serif;
}

.error_message {
  margin-top: 5px;
  color: red;
}

.A {
  background-color: #336633;
}
.B {
  background-color: #99CC33;
}
.C {
  background-color: #CCCC33;
}
.D {
  background-color: #FF9933;
}
.E {
  background-color: #FF6633;
}
.F {
  background-color: #CC3333;
}
.G {
  background-color: #993333;
}